
<div class="topbackground1">
    <!--    <div class="container">-->
    <h1>このサイトについて</h1>
    <p class="lead">このサイトは､rails5で実装したログイン機能をもつサイトの基盤となるもので､必要に応じ様々な機能を付加できます｡</p>
    <!--</div>-->
</div>

<div class="container">  
    <div class="row">
        <div class="col-md-8">
            <div class="typography">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h4>Heading 4</h4>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
                <p class="lead">テキスト表示のイメージです｡</p>
            </div> 
        </div>
        <div class="col-md-4" id="pages">
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-responsiv" src="http://placehold.jp/150x75.png" alt="...">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p>hogehogehogehogehogehoge</p>
                    <p>hogehogehogehogehogehoge</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-responsiv" src="http://placehold.jp/150x75.png" alt="...">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p>hogehogehogehogehogehoge</p>
                    <p>hogehogehogehogehogehoge</p>
                </div>
            </div>
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-responsiv" src="http://placehold.jp/150x75.png" alt="...">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Media heading</h4>
                    <p>hogehogehogehogehogehoge</p>
                    <p>hogehogehogehogehogehoge</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Site footer -->
    <footer class="footer">
        <p>&copy; 2016 Yuriko Sugiyama.</p>
    </footer>

</div>