<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
<h1>Webサイトからお問い合わせがありました。</h1>
  
<p>Name: <%= @contact.name %></p>
<p>Email: <%= @contact.email %></p>
<p>Message:
<%= @contact.message %></p>
--------------------------

  </body>
</html>