// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*top*/

.topimage {
    /*/assets/images/配下のどこか､という記述になる*/
   background-image: image-url("topimage.jpg");
      background-position: center center;
      /*画像を画面に合わせて最小サイズで表示*/
      background-size: cover;
      height: 700px;
      color: #fff;
      margin-top: -10px;
      /*親要素*/
      position: relative;
    }

    .squere{
        background-color: red;
        /*透過性*/
        opacity: 0.8;
        padding: 15px 15px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height:150px;
        /*左寄せする要素を、親要素を基準left:0の絶対位置に配置する。*/
        position: absolute; left: 0

    }
    #topback.container{
        margin-right: -20px;
        margin-left:-20px;
        margin-top: -20px;
        padding-bottom: 10px;
    }
   
    
    .glyphicon-tree-deciduous{
    font-size: 40px;
}
.glyphicon-eye-open{
    font-size: 40px;
}
.glyphicon-tower{
    font-size: 40px;
}

#pageheader{
    margin-top: -20px;
    padding-left: 0;
    padding-right: 0;
}

.row{
    padding-top: 5px; 
}

.col-lg-4 {
    padding: 40px 40px;
    padding-bottom: 70px;
    text-align:center;

}

.col-lg-4 h2{
    padding-bottom: 20px;
    text-align:center;

}

.col-lg-4 p{
    display:table-cell;
    text-align:left;
    vertical-align:middle;
}

/*about*/

#pageheader{
margin-top: -20px;
padding-left: 0;
padding-right: 0;
}

.topbackground1{
    padding: 70px 70px 20px 20px  ;
    margin: 0 auto;
    margin-top: -20px;
    height:350px;
  background-image: image-url("block.jpg");
      background-position: center center;
      /*画像を画面に合わせて最小サイズで表示*/
      background-size: contain;
    color: #ffffff;
}
.media{
    padding: 20px 20px 20px 10px  ;
}

.col-md-4{
    background-color: lemonchiffon;
    padding-right:0px;
}

